@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

.treeContainer {
    font-family: "Afacad Flux", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;

}

.treeContainer > article, img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 1.5%;
    width: 25%;


}



h1, footer {
    font-family: "Afacad Flux", sans-serif;
    text-align: center;
}

